finvizfinance==0.14.5
matplotlib==3.7.1
numpy==1.23.4
deta
openbb==2.5.1
fastparquet
pathlib
pandas==1.5.3
pandas_market_calendars==3.2
PyAutoGUI==0.9.54
pytz==2022.7.1
seaborn==0.11.2
streamlit==1.20.0
streamlit-extras
streamlit_js_eval==0.1.5
yahooquery==2.3.1


